# Docs for the Azure Web Apps Deploy action:
# https://github.com/Azure/webapps-deploy

name: Build and deploy Python app to Azure Web App - bcso-esri-events

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      # 1. Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Set up Python
      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. (Optional) Install dependencies to catch errors early
      - name: Create venv and install dependencies
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install -r requirements.txt

      # 4. Upload repo contents as artifact (EXCLUDING antenv)
      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            .
            !antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      # 5. Download artifact from build job
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app

      # 6. Login to Azure using OIDC
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_ED28A1165C004D848593A8610A1F729E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CF92C00948FE4B14868D4D87B1FBE9D6 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F83A4C54151441F48AB4B8A2AB1287A8 }}

      # 7. Deploy artifact contents into Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "bcso-esri-events"
          slot-name: "Production"
          package: .
<<<<<<< HEAD
          
=======
>>>>>>> c723b70 (1)
